[Desktop Entry]
Type=Application
Exec=/home/sene44/.config/autostart_desktop_hud.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Cyber Desktop HUD
